.poem {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    color:rgb(28, 22, 22);
    padding: 40px;
}

h1 {
    font-style: italic;
    color: rgb(15, 14, 14)(79, 31, 31);
}

.Radahn {
    text-decoration: wavy;
}

